@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}

.navbar {
    @apply py-3 px-8 gap-4;
}

.footer {
    @apply flex-col paddings w-full gap-20 bg-light-white;
}

.paddings {
    @apply lg:px-20 py-6 px-5;
}

/* .email-block:valid ~ span, */
#login-form .login-block input:valid ~ span,
#login-form .login-block input:focus ~ span
{
    font-size: 0.75em;
    transform: translateY(-29px);
    background-color: #fff;
    border-radius: 15px;
    padding: 2px 4px 2px 4px;
    color: #8BD7F3;
}

#login-form .login-block input:focus ~ .login-icon
{
    color: #8BD7F3 !important;
}

/* Swiper */

.swiper-pagination-bullet-active {
    background-color: #fff !important;
    width: 18px !important;
    height: 7px !important;
    border-radius: 3px !important;
}

.admin-bullet-post {
    width: 18px !important;
    height: 7px !important;
    border-radius: 3px !important;
    background-color: #91D8F3 !important;
    opacity: 1 !important;
}

/* Checkbox */

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.flexCenter {
    @apply flex justify-center items-center;
}

.profile_card-title {
    @apply justify-end items-end w-full h-1/3 bg-gradient-to-b from-transparent to-black/50 rounded-b-2xl gap-2 absolute bottom-0 right-0 font-semibold text-lg text-white p-4;
}

.flexBetween {
    @apply flex justify-between items-center;
}

.title {
    font-size: 14px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
}

.calc_admin-container {
    width: 100%;
    height: calc(100% - 81px);
}

.admin-li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.admin-li > a, .admin-li:last-child {
    display: flex;
    align-items: center;
    padding: 7px;
}

.admin-li > a {
    width: 100%;
    height: 100%;
}

.admin-li:hover {
    background-color: #ece8ff;
}

.icon {
    font-size: 24px;
    color: #7451f8;
}

.admin-li > span {
    font-size: 19px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
}

.admin-li > a > span {
    font-size: 19px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
}

.item {
    display: flex;
    align-items: center;
}

.widget {
    -webkkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.featured {
    flex: 2;
    -webkkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.chart {
    flex: 4;
    -webkkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    color: gray;
}

.chartGrid {
    stroke: rgb(228, 225, 225);
}

.listContainer {
    -webkkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    margin-bottom: 100px;
}

.listTitle {
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}

.adminuserslist {
    -webkkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.adminuserslist::-webkit-scrollbar {
    display: none;
    color: #ffa500
}

.admin_self-container::-webkit-scrollbar {
    display: none;
    color: #ffa500
}

.admin_selfleft, .admin_selfbottom {
    -webkkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.hover-food:hover ~ .hover-food-image {
    transform: scale(2);
    transition-duration: 700ms;
}

.editing_post-timelineitem {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 60px #fcc309, 0 0 80px #fcc309;
    background-color: #fcc309;
    border-radius: 50%;
}

.completed_post-timelineitem {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 60px #24DF3C, 0 0 80px #24DF3C;
    background-color: #24DF3C;
    border-radius: 50%;
}

.new_post-timelineitem {
    width: 40px;
    height: 40px;
    /* box-shadow: 0 0 60px #9CA299, 0 0 80px #9CA299; */
    background-color: #BDC1BB;
    border-radius: 50%;
}

.completed_timeline-stick {
    background-color: #24DF3C;
}

.editing_timeline-stick {
    background-color: #fcc309;
}

.new_timeline-stick {
    background-color: #BDC1BB;
}

/* Parallax preview */

.mContainer {
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.parrlx {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: 1;
}

.bgnd {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    transform: translateZ(-1px) scale(2);
    filter: blur(0px);
}

.normall {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.parrlx > h1 {
    width: 90%;
    height: 100%;
    font-size: 130px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #fff;
    word-spacing: 100vw;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.parrlx  h1 {
    color: #fff;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.normall h1 {
    color: #333;
}

.main-food-list {
    position: relative;
}

.main-food-list::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    top: 12px;
    border-radius: 50%;
    left: -35px;
}

/* mouse movement */

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
	animation: scroll ease 1.5s infinite;
}

/* Floating menu editing */

.floating-menu_addpost {
    position: fixed;
    color: white;
    width: 80px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    z-index: 20;
    right: 80px;
    top: calc(50% - 190px);
}

.transform-icons-tips {
    transform: scale(2);
    margin: 130px 0 0 120px;
}

.pure-gradient-light {
    width: 40%;
    height: 60%;
    top: 20%;
    left:20%;
    transform: rotate(45deg);
    border-radius: 50%;
    filter: blur(120px);
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.glassmrph {
    background-color: rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(10px);
}

.items-list-left-arrow {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    padding: 10px;
    border-radius: 50%;
    background: #fff;
}

.items-list-right-arrow {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    padding: 10px;
    border-radius: 50%;
    background: #fff;
}

.items-list-shadow {
    -webkit-box-shadow: -1px 91px 48px 9px rgba(99, 111, 198, 0.41);
    -moz-box-shadow: -1px 91px 48px 9px rgba(99, 111, 198, 0.41);
    box-shadow: -1px 91px 48px 9px rgba(99, 111, 198, 0.41);
}

.reciept-cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.reciept-card-c-1, .reciept-card-c-2, .reciept-card-c-3, .reciept-card-c-4, .reciept-card-c-5 {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.reciept-card-1, .reciept-card-2, .reciept-card-3, .reciept-card-4, .reciept-card-5 {
    width: 200px;
    position: relative;
    height: 300px;
    border-radius: 10px;
    background: #FDA98D;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17.5px;
    font-weight: 500;
    letter-spacing: 0.25px;
    color: #fff;
    transition: 0.5s;
}

.reciept-card-c-1:hover, .reciept-card-c-2:hover, .reciept-card-c-3:hover, .reciept-card-c-4:hover, .reciept-card-c-5:hover {
    z-index: 100;
}

.reciept-card-c-1:hover .reciept-card-1 {
    z-index: 100;
    transform: rotate(-5deg) !important;
}

.reciept-card-c-2:hover .reciept-card-2 {
    transform: rotate(3deg) !important;
}

.reciept-card-c-3:hover .reciept-card-3 {
    transform: rotate(-2deg) !important;
}

.reciept-card-c-4:hover .reciept-card-4 {
    transform: rotate(-7.5deg) !important;
}

.reciept-card-c-5:hover .reciept-card-5 {
    transform: rotate(-7.5deg) !important;
}

.c1 {
    transform: translate(50px, 20px) rotate(5deg);
}

.c2 {
    transform: translate(-5px, -10px) rotate(-2.5deg);
}

.c3 {
    transform: translate(-25px, 20px) rotate(2deg);
}

.c4 {
    transform: translate(-40px, -10px) rotate(7.5deg);
}

.c5 {
    transform: translate(-70px, 30px) rotate(7.5deg);
}

.reciepte-container {
    width: 100%;
    height: 100%;
    background: #FFE7DA;
    color: #7e7e7e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reciept-nav {
    display: flex;
    gap: 25px;
    cursor: pointer;
}

.reciept-nav .reciept-nav-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.reciept-nav .reciept-nav-item .reciept-nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgb(40, 40, 40);
    background: linear-gradient(
        180deg,
        rgba(40, 40, 40, 1) 0%,
        rgba(20, 20, 20, 1) 100%
    );
    border: 1px solid #303030;
    border-radius: 10px;
    color: #fff;
}

.reciept-nav .reciept-nav-item .reciept-nav-name {
    position: relative;
    top: 10px;
    font-size: 12.5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    opacity: 0;
    transition: 0.3s;
}

.reciept-nav .reciept-nav-item:hover .reciept-nav-name {
    top: 0;
    opacity: 1;
}

.drawer::after {
    content: "";
    position: absolute;
    top: -2.5px;
    right: 1.5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 100%;
}

.reciepte-close {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: 50px;
    background: #EAC0B0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.reciepte-footer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #575757;
    font-weight: 500;
    letter-spacing: 0.25px;
}